<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary btn-file">Browse</span>
                    <input type="file" style="display: none;"
                           ngFileSelect
                           [options]="options"
                           (onUpload)="handleUpload($event)" multiple>
                </label>
               
                <input type="text" class="form-control" placeholder="Drop files here" readonly="" 
                       ngFileDrop
                       [options]="options"
                       (onUpload)="handleUpload($event)"
                       [ngClass]="{'file-over': hasBaseDropZoneOver}"
                       (onFileOver)="fileOverBase($event)">
            </div>
            <span class="help-block">
                Click on the 'Browse' button to upload a document
            </span>
            <!-- drag & drop file example-->
            <style>
                .file-over {
                    border: dotted 3px;
                }

                /* Default class applied to drop zones on over */
            </style>

            <ul *ngFor="let upload of uploads | mapIterator" class="list-group">
                <li class="list-group-item">
                    {{upload.name}} <span *ngIf="upload.uploading"><i class="fa fa-spinner fa-spin"></i>{{upload.progress}}%</span> <i *ngIf="upload.success" class="fa fa-check text-success"></i><i *ngIf="!upload.success && !upload.uploading" class="fa fa-ban text-danger"></i>
                    
                </li>
            </ul>

        </div>

    </div>
</div>